/**@format*/

.para{
    color:blue !important;
}

.para{
    color:brown ;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    background-color: yellowgreen;
    padding: 50px;
    text-decoration: underline dashed black;
    border:2px solid black;
    /*border-radius: 40px;*/
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}





.para1{
    color:blue;
    text-decoration: overline solid black;
}

#para2{
    color:chocolate;
    text-decoration: line-through dashed white;
}

/*universal Selector*/
*{
    color:black;
    background-color: bisque;
}


/*
selector{
    property-name:value
}


types of selectors
----------------
1.class selector
2.id selector
3.tag name selector
*/