*{
    background-color: azure;
    
}

/* Styling the title */
.title {
    color:blueviolet;
   
}

/* Styling the paragraph */
.intro {
    color: darkblue;
    
}


/* This CSS is about background color */
.parentContainer {
    /*background-color: burlywood;*/
    background-image: linear-gradient(yellow, blue);
    height: 100vh !important;
    width: 100vw !important;
}


.floatContent{
    background-color: brown;
    /*display: none; 
    visibility: hidden; /*it will hide data,and browser thinks that there is the data*/
    /*float:left;*/
    /*text-shadow: 2px 10px red;*/

}


