
/*
1rem == 10px
             RWD(Responsive Web Design)
100vh = 100%

1fr -> free space
*/

/*
border,padding and margin

box-sizing :border-grid; 
*/


.temp-grid {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100vh;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

header {
    grid-area: header;
    background-color: rebeccapurple;
    color: #fff;
}

main {
    grid-area: main;
    background-color:azure;
    
}

footer {
    grid-area: footer;
    background-color: rebeccapurple;
    color: black;
}



.row {
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    font-size: 1rem;
}

